In [46]:
import pandas as pd

In [47]:
#series

data = [1,2,3,4,5]
series = pd.Series(data)
print("series\n",series)
print(type(series))

series
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [48]:
#create a series from dict
data = {'a':1, 'b':2, 'c':3}
series_dict = pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [49]:
data = [10,20,30]
index=['a','b','c']
pd.Series(data,index)

a    10
b    20
c    30
dtype: int64

In [50]:
#data frame
#create a dataframe from a dict of list

data={
    'Name':['Krish', 'John', 'Jack'],
    'Age':[25,30,55],
    'City':['Bangalore', 'New york', 'Texas']
}
df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New york
2   Jack   55      Texas
<class 'pandas.core.frame.DataFrame'>

In [51]:
#create a data frame from a list of dict
data=[
    {'Name': 'Krish', 'Age': 25, 'City': 'Bangalore'},
    {'Name': 'John', 'Age': 30, 'City': 'New york'},
    {'Name': 'Jack', 'Age': 55, 'City': 'Texas'},
    {'Name': 'Mike', 'Age': 35, 'City': 'Chicago'},
    {'Name': 'Sarah', 'Age': 28, 'City': 'Boston'}
]
df = pd.DataFrame(data)
print(df)

    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New york
2   Jack   55      Texas
3   Mike   35    Chicago
4  Sarah   28     Boston

In [52]:
df = pd.read_csv('../example.csv')
print(df)

           Date Product_ID Product_Name     Category  Quantity  Unit_Price  \
0    2024-01-20      P1234       Laptop  Electronics         5         899
1    2024-01-19      P2345        Phone  Electronics         3         599
2    2024-01-18      P3456       Tablet  Electronics         2         399
3    2024-01-17      P4567      Monitor  Electronics         4         299
4    2024-01-16      P5678     Keyboard  Accessories         7          79
..          ...        ...          ...          ...       ...         ...
103  2023-10-09      P5689      Monitor  Electronics         3         299
104  2023-10-08      P6790     Keyboard  Accessories         6          79
105  2023-10-07      P7901        Mouse  Accessories         8          49
106  2023-10-06      P8912      Printer  Peripherals         2         199
107  2023-10-05      P9023   Headphones  Accessories         5         129

     Total_Amount Customer_ID Region Payment_Method
0            4495       C5678  North    Credit Card
1            1797       C6789  South     Debit Card
2             798       C7890   East         PayPal
3            1196       C8901   West           Cash
4             553       C9012  North    Credit Card
..            ...         ...    ...            ...
103           897       C9023   West           Cash
104           474       C1245  North    Credit Card
105           392       C2356  South         PayPal
106           398       C3467   East     Debit Card
107           645       C4578   West           Cash

[108 rows x 10 columns]

In [53]:
df.loc[0]

Date               2024-01-20
Product_ID              P1234
Product_Name           Laptop
Category          Electronics
Quantity                    5
Unit_Price                899
Total_Amount             4495
Customer_ID             C5678
Region                  North
Payment_Method    Credit Card
Name: 0, dtype: object

In [54]:
df.iloc[0]

Date               2024-01-20
Product_ID              P1234
Product_Name           Laptop
Category          Electronics
Quantity                    5
Unit_Price                899
Total_Amount             4495
Customer_ID             C5678
Region                  North
Payment_Method    Credit Card
Name: 0, dtype: object

In [55]:
#accessing a specific element
df.at[0,'Date']

'2024-01-19'

In [56]:
df.at[2, 'Product_ID']

'P3456'

In [57]:
df.iat[2,2]

'Tablet'

In [61]:
#data manipulation with dataframe
csv = pd.read_csv('../example2.csv')

df = pd.DataFrame(csv)
df['exp'] = 10000
print(df)

           Date Product_ID Product_Name     Category  Quantity  Unit_Price  \
0    2024-01-20      P1234       Laptop  Electronics         5         899
1    2024-01-19      P2345        Phone  Electronics         3         599
2    2024-01-18      P3456       Tablet  Electronics         2         399
3    2024-01-17      P4567      Monitor  Electronics         4         299
4    2024-01-16      P5678     Keyboard  Accessories         7          79
..          ...        ...          ...          ...       ...         ...
103  2023-10-09      P5689      Monitor  Electronics         3         299
104  2023-10-08      P6790     Keyboard  Accessories         6          79
105  2023-10-07      P7901        Mouse  Accessories         8          49
106  2023-10-06      P8912      Printer  Peripherals         2         199
107  2023-10-05      P9023   Headphones  Accessories         5         129

     Total_Amount Customer_ID Region Payment_Method    exp
0            4495       C5678  North    Credit Card  10000
1            1797       C6789  South     Debit Card  10000
2             798       C7890   East         PayPal  10000
3            1196       C8901   West           Cash  10000
4             553       C9012  North    Credit Card  10000
..            ...         ...    ...            ...    ...
103           897       C9023   West           Cash  10000
104           474       C1245  North    Credit Card  10000
105           392       C2356  South         PayPal  10000
106           398       C3467   East     Debit Card  10000
107           645       C4578   West           Cash  10000

[108 rows x 11 columns]
           Date Product_ID Product_Name     Category  Quantity  Unit_Price  \
0    2024-01-20      P1234       Laptop  Electronics         5         899
1    2024-01-19      P2345        Phone  Electronics         3         599
2    2024-01-18      P3456       Tablet  Electronics         2         399
3    2024-01-17      P4567      Monitor  Electronics         4         299
4    2024-01-16      P5678     Keyboard  Accessories         7          79
..          ...        ...          ...          ...       ...         ...
103  2023-10-09      P5689      Monitor  Electronics         3         299
104  2023-10-08      P6790     Keyboard  Accessories         6          79
105  2023-10-07      P7901        Mouse  Accessories         8          49
106  2023-10-06      P8912      Printer  Peripherals         2         199
107  2023-10-05      P9023   Headphones  Accessories         5         129

     Total_Amount Customer_ID Region Payment_Method    exp
0            4495       C5678  North    Credit Card  10000
1            1797       C6789  South     Debit Card  10000
2             798       C7890   East         PayPal  10000
3            1196       C8901   West           Cash  10000
4             553       C9012  North    Credit Card  10000
..            ...         ...    ...            ...    ...
103           897       C9023   West           Cash  10000
104           474       C1245  North    Credit Card  10000
105           392       C2356  South         PayPal  10000
106           398       C3467   East     Debit Card  10000
107           645       C4578   West           Cash  10000

[108 rows x 11 columns]

In [63]:
df.drop('exp', axis=1, inplace=True)
print(df)

           Date Product_ID Product_Name     Category  Quantity  Unit_Price  \
0    2024-01-20      P1234       Laptop  Electronics         5         899
1    2024-01-19      P2345        Phone  Electronics         3         599
2    2024-01-18      P3456       Tablet  Electronics         2         399
3    2024-01-17      P4567      Monitor  Electronics         4         299
4    2024-01-16      P5678     Keyboard  Accessories         7          79
..          ...        ...          ...          ...       ...         ...
103  2023-10-09      P5689      Monitor  Electronics         3         299
104  2023-10-08      P6790     Keyboard  Accessories         6          79
105  2023-10-07      P7901        Mouse  Accessories         8          49
106  2023-10-06      P8912      Printer  Peripherals         2         199
107  2023-10-05      P9023   Headphones  Accessories         5         129

     Total_Amount Customer_ID Region Payment_Method
0            4495       C5678  North    Credit Card
1            1797       C6789  South     Debit Card
2             798       C7890   East         PayPal
3            1196       C8901   West           Cash
4             553       C9012  North    Credit Card
..            ...         ...    ...            ...
103           897       C9023   West           Cash
104           474       C1245  North    Credit Card
105           392       C2356  South         PayPal
106           398       C3467   East     Debit Card
107           645       C4578   West           Cash

[108 rows x 10 columns]

In [64]:
#add age to the column
df['Quntity'] = df['Quantity']+1
print(df)

           Date Product_ID Product_Name     Category  Quantity  Unit_Price  \
0    2024-01-20      P1234       Laptop  Electronics         5         899
1    2024-01-19      P2345        Phone  Electronics         3         599
2    2024-01-18      P3456       Tablet  Electronics         2         399
3    2024-01-17      P4567      Monitor  Electronics         4         299
4    2024-01-16      P5678     Keyboard  Accessories         7          79
..          ...        ...          ...          ...       ...         ...
103  2023-10-09      P5689      Monitor  Electronics         3         299
104  2023-10-08      P6790     Keyboard  Accessories         6          79
105  2023-10-07      P7901        Mouse  Accessories         8          49
106  2023-10-06      P8912      Printer  Peripherals         2         199
107  2023-10-05      P9023   Headphones  Accessories         5         129

     Total_Amount Customer_ID Region Payment_Method  Quntity
0            4495       C5678  North    Credit Card        6
1            1797       C6789  South     Debit Card        4
2             798       C7890   East         PayPal        3
3            1196       C8901   West           Cash        5
4             553       C9012  North    Credit Card        8
..            ...         ...    ...            ...      ...
103           897       C9023   West           Cash        4
104           474       C1245  North    Credit Card        7
105           392       C2356  South         PayPal        9
106           398       C3467   East     Debit Card        3
107           645       C4578   West           Cash        6

[108 rows x 11 columns]

In [65]:
print(df.describe())

         Quantity  Unit_Price  Total_Amount     Quntity
count  108.000000  108.000000    108.000000  108.000000
mean     4.296296  330.111111   1188.851852    5.296296
std      2.158484  259.911320   1048.055028    2.158484
min      1.000000   49.000000    199.000000    2.000000
25%      3.000000  129.000000    467.250000    4.000000
50%      4.000000  249.000000    774.000000    5.000000
75%      6.000000  499.000000   1497.000000    7.000000
max     10.000000  899.000000   4495.000000   11.000000