In [2]:
def square(x):
    return x*x

square(10)

100

In [3]:
numbers = [1,2,3,4,5,6,7,8]

print(list(map(square, numbers)))

[1, 4, 9, 16, 25, 36, 49, 64]

In [4]:
#lambda function with map
numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
#map multi iterables
numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y:x+y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [8]:
words = ['apple', 'banana', 'cherry']
upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [9]:
def get_name(person):
    return person['name']

people=[
    {'name':'Krish', 'age':32},
    {'name':'Jack', 'age':33}
]
list(map(get_name, people))

['Krish', 'Jack']